body {
	background-color: #cccccc;
	font-family: arial, helvetica, sans-serif;
}

.todoHeadline {
	font-size: 12pt;
	font-weight: bold;
}

.todoDescription {
	font-size: 10pt;
}

label {
	font-weight: bold;
}