<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
<title>myTaxi</title>
<th:block th:include="main"></th:block>
<link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" />
</head>
<body>
	<div class="container">
		<h2>All Cars Data</h2>
		<a th:href="@{/cardatas/add}" class="btn btn-primary">Add Car Data</a>
		<hr>
		<div th:if="${not #lists.isEmpty(cardatas)}">
			<table class="table table-striped">
				<tr>
					<th>Id</th>
					<th>Name</th>
					<th>Company</th>
					<th>Manufactured In</th>
					<th>Model Year</th>
					<th>Seat Count</th>
					<th>Doors Count</th>
					<th>Engine Type</th>
					<th>Convertible</th>
					<th>License Plate</th>
					<th>Car Status</th>
					<th>Ratings</th>
					<th>Deleted</th>
					<th>Edit</th>
					<th>Delete</th>
					
				</tr>
				<tr th:each="cardata : ${cardatas}">
					<td th:text="${cardata.id}">Id</td>
					<td th:text="${cardata.name}">Name</td>
					<td th:text="${cardata.companyName}">Company</td>
					<td th:text="${cardata.manufacturedIn}">Manufactured In</td>
					<td th:text="${cardata.modelYear}">Model Year</td>
					<td th:text="${cardata.seatCount}">Seat Count</td>
					<td th:text="${cardata.doorsCount}">Doors Count</td>
					<td th:text="${cardata.engineType}">Engine Type</td>
					<td th:text="${cardata.convertible}">Convertible</td>
					<td th:text="${cardata.licensePlate}">License Plate</td>
					<td th:text="${cardata.carStatus}">Car Status</td>
					<td th:text="${cardata.rating}">Ratings</td>
					<td th:text="${cardata.deleted}">Deleted</td>
					<td><a th:href="@{'/cardatas/edit/'+ ${cardata.id}}" class="btn btn-primary">Edit</a></td>
					<td><a th:href="@{'/cardatas/delete/'+ ${cardata.id}}" class="btn btn-danger">Delete</a></td>
					
				</tr>
			</table>
		</div>
		<hr>
	</div>
</body>
</html>