<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
<title>myTaxi</title>
<th:block th:include="main"></th:block>
<link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" />
</head>
<body>
	<div class="container">
		<h2>Driver Data</h2>
		<div>
		<span class="validation-message-error" th:utext="${errorMessage}"></span>
		<span class="validation-message-success" th:utext="${successMessage}"></span>
		
			<form autocomplete="off" action="#" class="form-horizontal" th:object="${driverdata}" th:action="@{/driverdatas}" method="post" role="form">
			 	<div class="form-group">
					<input type="hidden" class="form-control" th:field="*{id}" />
				</div> 
				<div class="form-group">
					<label >UserName:</label>
				    <input type="text" th:field="*{username}" />
					<label >Password:</label> 
					<input type="text" th:field="*{password}" />
					<label >Deleted:</label> 
					<input type="checkbox" th:field="*{deleted}" />
					<label >Online Status:</label>
				    <input type="text" th:field="*{onlineStatus}" />
		<!--			<label >Geocoordinate:</label>
				    <input type="text" th:field="*{coordinate}" />
		GeoCoordinate [Longtitude= 9.5, Latitude= 55.954 ]-->		 
				</div>				
				<div class="form-group">
					<div class="col-sm-2">
						<button type="submit" class="btn btn-primary">Save</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</body>
</html>