<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
<title>myTaxi</title>
<th:block th:include="main"></th:block>
<link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" />
</head>
<body>
	<div class="container">
		<h2>Car Data</h2>
		<div>
		<span class="validation-message-error" th:utext="${errorMessage}"></span>
		<span class="validation-message-success" th:utext="${successMessage}"></span>
			<form autocomplete="off" action="#" class="form-horizontal" th:object="${cardata}" th:action="@{/cardatas}" method="post" role="form">
			 	<div class="form-group">
					<input type="hidden" class="form-control" th:field="*{id}" />
				</div> 
				<div class="form-group">
					<label >Name:</label>
				    <input type="text" th:field="*{name}" style="width: 145px;"/>
					<label >Company:</label>
				    <input type="text" th:field="*{companyName}" style="width: 145px;"/>
					<label >Manufactured In:</label>
				    <input type="text" th:field="*{manufacturedIn}" style="width: 145px;"/>
					<label >Model Year:</label>
					<input type="text" th:field="*{modelYear}" style="width: 145px;"/>
					<label >Seat Count:</label>
				    <input type="text" th:field="*{seatCount}" style="width: 145px;"/>
					<label >Doors Count:</label>
				    <input type="text" th:field="*{doorsCount}" style="width: 145px;"/>
					<label >Engine Type:</label>
				    <input type="text" th:field="*{engineType}" style="width: 145px;"/>
					<label >Convertible:</label>
					<input type="text" th:field="*{convertible}" style="width: 145px;"/>
         			<label >License Plate:</label> 
					<input type="text" th:field="*{licensePlate}" style="width: 145px;"/>
					<label >Car Status:</label>
				    <input type="text" th:field="*{carStatus}"  style="width: 145px;"/>
				    <label >Ratings:</label>
				    <input type="text" th:field="*{rating}" style="width: 145px;"/>
				    <label >Deleted:</label>
				    <input type="text" th:field="*{deleted}"  style="width: 145px;"/>
				</div>				
				<div class="form-group">
					<div class="col-sm-2">
						<button type="submit" class="btn btn-primary">Save</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</body>
</html>