<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
<title>myTaxi</title>
<th:block th:include="main"></th:block>
<link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" />
</head>
<body>
	<div class="container">
	<hr>
	<div class="row">
			<div class="container-fluid" style="font-size: 18px; font-weight: bold;margin-left: 10px;">
				Please read the below mentioned instructions for information regarding how to use myTaxi driver management portal.
			</div>
		<hr style="width: 98%;">
		<div style="width: 95%; margin-left: 20px;">
			<div class="container-fluid" style="font-size: 14px;">
				<span style="font-weight: bolder;font-size: 16px;">Drivers</span>
				<br>
				Drivers menu above in the navigation bar is used to manage the driver. Here you can edit the driver details/add a driver and 
				select/deselect a car for the driver. All CRUD operations can be done on the driver.
			</div>
			<hr>
			<div class="container-fluid" style="font-size: 14px;">
			<span style="font-weight: bolder; font-size: 16px;">Cars</span>
			<br>
				Cars menu above in the navigation bar is used to manage the car. Here you can edit the car details/add a car and 
				delete the driver. All CRUD operations can be done on the driver.
			</div>
			<hr>
			<div class="container-fluid" style="font-size: 14px;">
			<span style="font-weight: bolder; font-size: 16px;">Search</span>
			<br>
				Users menu above in the navigation bar shows us the users that are currently registerd with the myTaxi application.
			</div>
			<hr>
			<div class="container-fluid" style="font-size: 14px;">
			<span style="font-weight: bolder; font-size: 16px;">Swagger</span>
			<br>
				Swagger menu above in the navigation bar redirects to the swagger page where we can test the endpoint operations.
			</div>			
			<hr>
			<div class="container-fluid" style="font-size: 14px;">
			<span style="font-weight: bolder; font-size: 16px;">Users</span>
			<br>
				Users menu above in the navigation bar shows us the users that are currently registerd with the myTaxi application.
			</div>
		<hr>
		<br></br>
		<br></br>		
	</div>
	</div>
</div>
</body>
</html>