<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<title>myTaxi</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" />
</head>
<body>
	<div class="container">
		<div class="panel-group" style="margin-top: 10px">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<span th:utext="${userName}">
					</span>
					<form th:action="@{/logout}" method="get">
						<button class="btn btn-md btn-warning btn-block-new" name="registration" type="Submit"
						style="border-left-width: 0px; margin-left: 1007px;">Logout</button>
					</form>
				</div>
				<div class="tab">
					<nav class="navbar navbar-default">
						<div class="container-fluid">
							<div class="navbar-header">
								<a class="navbar-brand" href="#" th:href="@{/main}">Main</a>
								<ul class="nav navbar-nav">
									<li><a th:href="@{/driverdatas}">Drivers</a></li>
									<li><a th:href="@{/cardatas}">Cars</a></li>
									<li><a th:href="@{/search}">Search</a></li>
									<li><a th:href="@{/swagger}">Swagger</a></li>
									<li><a th:href="@{/users}">Users</a></li>
									<li><a th:href="@{/help}">Help</a></li>
								</ul>
							</div>
						</div>
					</nav>
					<div class="row">
						<div class="container-fluid" style="font-size: 30px; font-weight: bolder;margin-left: 10px;">
							!!!Weclome to myTaxi!!!
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>