<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
<title>myTaxi</title>
<th:block th:include="main"></th:block>
<link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" />
</head>
<body>
	<div class="container">
		<h2>Search</h2>
		<form autocomplete="off" action="#" class="form-horizontal" th:object="${searchReport}" th:action="@{/search}" method="post"
			role="form">
			<hr>
			<div class="form-group-font">
				<label>Driver Data:</label> 
				<input type="radio" class="form-group-edit" th:field="*{driverOrCarRadioB}" name="driverOrCarRadioB" value="driverdata"> 
			 	<label for="username" class="form-group-edit">User Name:</label> 
				<input type="text" class="form-group-edit" name="username" th:field="*{username}" th:placeholder="UserName" id="username"  style="width: 175px;" /> 
				<label for="onlinestatus" class="form-group-edit">Online Status:</label> 
				<input type="text" class="form-group-edit" name="onlinestatus" th:field="*{onlinestatus}" th:placeholder="OnlineStatus" id="onlinestatus"  style="width: 175px;" />
				</div>
			<div class="form-group-font">
			 	<label>Car Data:</label> 
				<input type="radio" class="form-group-edit" th:field="*{driverOrCarRadioB}" name="driverOrCarRadioB" value="cardata" > 			
				<label for="licenseplate" class="form-group-edit">License Plate:</label> 
				<input type="text" class="form-group-edit" name="licenseplate" th:field="*{licenseplate}" th:placeholder="LicensePlate" id="licenseplate"  style="width: 175px;"/> 
				<label for="ratings" class="form-group-edit">Ratings:</label> 
				<input type="text" class="form-group-edit" name="ratings" th:field="*{ratings}" th:placeholder="Ratings" id="ratings"  style="width: 175px;"/>
				<label for="carstatus" class="form-group-edit">Car Status:</label> 
				<input type="text" class="form-group-edit" name="carstatus" th:field="*{carstatus}" th:placeholder="CarStatus" id="carstatus" style="width: 175px;"/> 		
 			</div>
			<div class="form-group-font">
				<button type="submit" class="btn btn-primary">Search Data</button>
			</div>
			<span class="validation-message-error" th:utext="${errorMessage}"></span>
			<span class="validation-message-success" th:utext="${successMessage}"></span>
		</form>
	<hr>
		<div th:if="${not #lists.isEmpty(driverdatas)}">
		<h2>Search Results for Driver Data</h2>
			<table class="table table-striped">
				<tr>
					<th>Id</th>
					<th>UserName</th>
					<th>Password</th>
					<th>Deleted</th>
					<th>Online Status</th>
					<th>Geocoordinate</th>
				</tr>
				<tr th:each="driverdata : ${driverdatas}">
					<td th:text="${driverdata.id}">Id</td>
					<td th:text="${driverdata.username}">UserName</td>
					<td th:text="${driverdata.password}">Password</td>
					<td th:text="${driverdata.deleted}">Deleted</td>
					<td th:text="${driverdata.onlineStatus}">Online Status</td>
					<td th:text="${driverdata.coordinate}">Geocoordinate</td>
				</tr>
			</table>
		</div>
		<div th:if="${not #lists.isEmpty(cardatas)}">
			<h2>Search Results for Car Data</h2>
			<table class="table table-striped">
				<tr>
					<th>Id</th>
					<th>Name</th>
					<th>Company</th>
					<th>Manufactured In</th>
					<th>Model Year</th>
					<th>Seat Count</th>
					<th>Doors Count</th>
					<th>Engine Type</th>
					<th>Convertible</th>
					<th>License Plate</th>
					<th>Car Status</th>
					<th>Ratings</th>
					<th>Deleted</th>
			 	</tr>
				<tr th:each="cardata : ${cardatas}">
					<td th:text="${cardata.id}">Id</td>
					<td th:text="${cardata.name}">Name</td>
					<td th:text="${cardata.companyName}">Company</td>
					<td th:text="${cardata.manufacturedIn}">Manufactured In</td>
					<td th:text="${cardata.modelYear}">Model Year</td>
					<td th:text="${cardata.seatCount}">Seat Count</td>
					<td th:text="${cardata.doorsCount}">Doors Count</td>
					<td th:text="${cardata.engineType}">Engine Type</td>
					<td th:text="${cardata.convertible}">Convertible</td>
					<td th:text="${cardata.licensePlate}">License Plate</td>
					<td th:text="${cardata.carStatus}">Car Status</td>
					<td th:text="${cardata.rating}">Ratings</td>
					<td th:text="${cardata.deleted}">Deleted</td>			
				</tr>
			</table>
		</div>
	<hr>
	</div>
</body>
</html>