<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
<title>myTaxi</title>
<th:block th:include="main"></th:block>
<link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" />
</head>
<body>
	<div class="container">
		<h2>All Users</h2>
		<hr>
		<div th:if="${not #lists.isEmpty(users)}">
			<table class="table table-striped">
				<tr>
					<th>Id</th>
					<th>Name</th>
					<th>Email</th>
					<th>Password</th>
				</tr>
				<tr th:each="user : ${users}">
					<td th:text="${user.id}">Id</td>
					<td th:text="${user.name}">Name</td>
					<td th:text="${user.email}">Email</td>
					<td th:text="${user.password}">Password</td>
				</tr>
			</table>
		</div>
	<hr>
	</div>
</body>
</html>