@charset "ISO-8859-1";

body {
	font-family: Arial;
}

.tab {
	overflow: hidden;
	border: 1px solid #ccc;
	background-color: #f1f1f1;
	border-bottom-width: 0px;
}

.tab button {
	background-color: inherit;
	float: left;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 14px 16px;
	transition: 0.3s;
	font-size: 24px;
}

.tab button:hover {
	background-color: #ddd;
}

.tab button.active {
	background-color: #ccc;
}

.tabcontent {
	display: none;
	border-top: none;
	border-bottom: none;
}

.logout {
	float: right;
	font-style: normal;
	font-size: 12px;
	background-color: red;
}

.navbar-default {
	background: #6db33f;
}

.navbar-default .navbar-brand {
	color: white;
}

.navbar-default .navbar-nav>li>a {
	color: white;
}

.col-sm-edit {
	width: 30.33%;
}

th, td {
	padding: 10px;
	text-align: center;
}

table, td, th {
	border: 1px solid #ddd;
	text-align: center;
	font-size: 11px;
}

table {
	border-collapse: collapse;
	width: 88%;
}

.validation-message-error {
	font-style: normal;
	font-size: 22px;
	color: #FF1C19;
}

.validation-message-success {
	font-style: normal;
	font-size: 22px;
	color: #333;
}

.btn-block-new {
	display: block;
	width: 10%;
}

.btn-edit {
	background-color: #c0de1a;
}

.form-group-edit {
	padding-left: 55px;
}

.form-group-font {
	font-size: 16px;
}

.btn-block-registeration {
	display: block;
	width: 74%;
}


.form-group-reports-text-padding {
	padding-left: 5px;
}


.form-group-reports-text {
	width: 60px;
}