<!-- $ sign gives us access to the data of the event. 
<input type="text" class="form-control" (input)="onUpdateServerName($event)">-->

<!-- Using two way databinding. -->
<input type="text" class="form-control" [(ngModel)]="serverName">
<!--
<label>
    Server Name : {{serverName}}
</label>-->
<br>
<!--Using Property Binding should use want to change some property -->
<!--Reacting to events on click -->
<button class="btn btn-primary" [disabled] ="!allowNewServer" (click)="onCreateServer()" >
Add Server
</button>
<!--Using String Interpolation use when you want to output 
<p>Allow new server creation is: {{allowNewServer}}</p>-->
<!-- Components are directives with templates  -->
<!-- <p>{{serverCreationStatus}}</p> -->
<!-- ng if directive * indicating it is a structural directive changing the structure of the dom.-->
<p *ngIf="serverCreated; else noServer">Server was created and Server Name is : {{serverName}}</p>
<ng-template #noServer>
<p>No Server was created.</p>
</ng-template>
<app-server *ngFor="let server of servers"></app-server>

